

ListItem{
    display: flex;
    align-items: center;
}


div{
    background-color: blue($color: #1e0cb8);
    border: blue($color: #000000);
    border-color: blue($color: #000000);
    border-width: thick;
}