.places, .place{
    min-height: 100vh;
    min-height: calc(100 * var(--vh, 1vh));
    background-color: rgb(240, 193, 64);
    background-image: url(https://firebasestorage.googleapis.com/v0/b/mysurutourism-7df77.appspot.com/o/Trianglify%20%E2%80%93%20Generate%20colorful%20triangle%20meshes%20for%20SVG%20images%20and%20CSS%20backgrounds%20_%20Productivity%20Tools%20_%20Designify.jpeg?alt=media&token=d1bc601a-61f4-47c6-ab3b-71e577ace45a);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: multiply;
    padding-top: 20px;
    padding-bottom: 60px;
}

.places{
    h1{
        font-family: 'Roboto Slab', serif;
        font-size: 48px;
        margin-top: 35px;
        margin-bottom: 60px;
    }
    &-cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 35px;
    }
    
}

.place{
    padding-top: 20px;
    .image{
        height: 500px;
        background-color: #e5e5e5;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (max-width: 600px){
            height: calc(40 * var(--vh, 1vh));
        }
    }
    &-card{
        width: 90%;
        padding: 20px;
        margin: 0 auto;
        margin-top: -50px;
        @media screen and (max-width: 700px){
            width: 100%;
        }
    }
}

